<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="name">Full name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <label for="password">Last name</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <label for="email">E-mail</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <label for="roleId">Role</label>
    <input type="number" th:field="*{roleId}" id="roleId" placeholder="role_id">
    <input type="submit" value="Create User">
</form>
</body>
</html>