<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Full name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <br/>
    <label for="password">Last name</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <br/>
    <label for="email">E-mail</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <br/>
    <label for="role">Role</label>
    <input type="number" th:field="*{role}" id="role" placeholder="user - 1, admin - 2">
    <input type="submit" value="Update User">
</form>
</body>
</html>